{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": ["tsconfig.json", "tsconfig.jest.json"]
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": "off",
    "import/extensions": "off",
    "object-curly-spacing": ["error", "never"],
    "object-curly-newline": ["error", {"consistent": true}],
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/object-curly-spacing": ["error", "never"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/restrict-template-expressions": "off"
  }
}
