{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": ["tsconfig.json", "tsconfig.jest.json"]
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@next/next/recommended",
    "next/core-web-vitals"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": "off",
    "no-restricted-exports": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "object-curly-spacing": ["error", "never"],
    "object-curly-newline": ["error", {"consistent": true}],
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/object-curly-spacing": ["error", "never"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  }
}
